:root {
    --light-gray: #F9F9F9;
}
a {
    color: var(--light-gray);
}
a:hover {
    color: var(--light-gray); 
    text-decoration: underline;
    text-decoration-color: var(--light-gray); 
}
body {
    background-color: var(--light-gray);
    color: #000000;
    font-family: 'Raleway', sans-serif;
}
.jumbotron-large {
    background-image: url("../images/MMK-LasCampanas-banner.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.navbar {
    background: rgba(0,0,0,0.4);
}
.navbar-brand {
    font-size: 1.7rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
    text-decoration-color: var(--light-gray);
}
