body {
    font-family: 'Raleway', sans-serif;
}
.jumbotron-large {
    background-image: url("../images/MMK-LasCampanas-banner.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}
