body {
    color: #000000;
    font-family: 'Raleway', sans-serif;
}
.jumbotron-large {
    background-image: url("../images/MMK-LasCampanas-banner.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.navbar {
    background: rgba(0,0,0,0.4);
    color: #E5E5E5;
}
.navbar-brand {
    font-size: 1.7rem;
}
.nav-item.active{
    text-decoration: underline;
    text-decoration-color: #E5E5E5
} 
.nav-link {
    color: #E5E5E5;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
    text-decoration-color: #E5E5E5;
}
