a {
    color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #6c757d;
}
body {
    background-color: #E5E5E5;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
footer {
    font-size: 0.85rem;
}
hr {
    border-color: #6c757d;
}
p.p-footer {
    margin-bottom: 0.5rem;
}
.container {
    max-width: 1024px;
}
.jumbotron {
      background-image: url("../images/MMK-LasCampanas-medium.jpg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 220px;
      margin-bottom: 1rem;
      width: 100%;
}
.navbar {
    background-color: #6c757d;
    font-family: 'Noto Serif', serif;
}
.navbar-brand {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-toggler {
    color:  #6c757d;
    border-color:  #6c757d;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-item.active{
    text-decoration: underline;
    text-decoration-color: #6c757d;
} 
.nav-link {
    color: #000000;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
    text-decoration-color: #6c757d;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.row-short-bottom {
    margin-bottom: -15px;
}
.row-tall-top {
    margin-top: 15px;
}

