body {
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 960px;
}
.navbar {
    font-family: 'Tinos', serif;
}
.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}
